html, body{
	height: 100%;
	min-height: 100%;
}
.divPrincipal{
	height: 100%;
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.divPrincipal div{
	padding: 40px;
	border: 1px solid;
}

.btnInicial{
	vertical-align: middle;
}

.yellow{
background-color: yellow;
}