.blue{
background-color: blue;
}

/*.red{
background-color: red;
}*/

.green{
background-color: green;
}



.fundo{
	background-color: #dfdfdf;
}

.cabecalhoPrincipal{
	text-align: center;
	font-weight: bold;
	background-image: url("../imgs/cart.jpg");
	background-repeat: no-repeat;
	background-position: center bottom;
}

.btnEsquerda{
float: left;
}

.labelForm{
	color: blue;
}

.flutuaBotoesDireita{
	float: right;
}